/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #03afaf;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    
}

nav ul li a:hover {
    background-color: #575757;
}

section {
    padding: 13%;
    text-align: center;
    margin: auto;
    font-size: 27px;
}


section img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
